<h1>Stupid Coaching</h1>

<div class='cards'>
  <div class='question'>
  <p><%= @question %></p>
  <p>--You</p>
  </div>

  <div class='reply'>
  <p><%= @reply %></p>
  <p>--Your coach</p>
  </div>

  <div class='ask'>
  <p><%= link_to "Ask a new question", ask_path %></p>
  </div>
</div>
